<!DOCTYPE HTML>
<html lang="en">

<head>
    <title>Robot Controls</title>
    <meta charset="utf-8">
    <meta name="description" content="A controller for a Python-based Raspberry Pi robot.">
    <meta name="author" content="Evan Simkowitz">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="{{ url_for('static', filename='js/nipplejs.min.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/joystick.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script type="text/javascript" charset="utf-8">
        function sendData(data) {
            var XHR = new XMLHttpRequest();
            var urlEncodedData = "";
            var urlEncodedDataPairs = [];
            var name;

            // Turn the data object into an array of URL-encoded key/value pairs.
            for (name in data) {
                urlEncodedDataPairs.push(encodeURIComponent(name) + '=' + encodeURIComponent(data[name]));
            }

            // Combine the pairs into a single string and replace all %-encoded spaces to 
            // the '+' character; matches the behaviour of browser form submissions.
            urlEncodedData = urlEncodedDataPairs.join('&').replace(/%20/g, '+');

            // Define what happens on successful data submission
            XHR.addEventListener('load', function (event) {
                console.log('Successful response for ' + data);
            });

            // Define what happens in case of error
            XHR.addEventListener('error', function (event) {
                console.log('Unsuccessful response for ' + data);
            });
            
            // Set up our request
            var url = location.protocol + '//' + document.domain + ':' + location.port + '/control_event';

            XHR.open('POST', url);

            // Add the required HTTP header for form data POST requests
            XHR.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');

            // Finally, send our data.
            XHR.send(urlEncodedData);
        }

        function control(message) {
            sendData({
                'control': message
            });
            console.log("Control \'" + message + "\' sent to robot");
        }


        function hardright() {
            control("hr");
        }
        function softright() {
            control("sr");
        }            
        function forward() {
            control("f");
        }
        function softleft() {
            control("sl");
        }
        function hardleft() {
            control("hl");
        }

        function left() {
            control("l");
        }

        function right() {
            control("r");
        }

        function backward() {
            control("b");
        }

        function stop() {
            control("s");
        }

        document.addEventListener("keydown", function (event) {
            if (event.which === 87 || event.which === 38) {
                forward();
            } else if (event.which === 68 || event.which === 39) {
                right();
            } else if (event.which === 83 || event.which === 40) {
                backward();
            } else if (event.which === 65 || event.which === 37) {
                left();
            }
        });

        document.addEventListener("keyup", function (event) {
            if (event.which === 87 || event.which === 38 ||
                event.which === 68 || event.which === 39 ||
                event.which === 83 || event.which === 40 ||
                event.which === 65 || event.which === 37) {
                stop();
            }
        });
    </script>
</head>

<body>
<h1>Robot Controls</h1>
    <div id="control_area">
        <div class="zone joystick active" id="joystick"></div>
 <canvas id="videoCanvas" width="{{ canvas_size.width }}" height="{{ canvas_size.height }}">
            <p>
                Please use a browser that supports the Canvas Element, like
                <a href="http://www.google.com/chrome">Chrome</a>,
                <a href="http://www.mozilla.com/firefox/">Firefox</a>,
                <a href="http://www.apple.com/safari/">Safari</a> or Internet Explorer 10
            </p>
        </canvas>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jsmpeg/0.2/jsmpg.min.js"></script>
        <script type="text/javascript">
            // Show loading notice
            var canvas = document.getElementById('videoCanvas');
            var ctx = canvas.getContext('2d');
            ctx.fillStyle = '{{ color }}';
            ctx.fillText('Loading...', canvas.width / 2 - 30, canvas.height / 3);
            // Setup the WebSocket connection and start the player
            var client = new WebSocket('ws://{{ address }}/');
            var player = new jsmpeg(client, {
                canvas: canvas
            });
        </script>
    </div>
</body>
<script type="text/javascript" charset="utf-8">
// DIFFERENTIAL DRIVE
//AS LONG AS THE JOYSTICK STAYS IN THE SAME PLANE
// THERE IS NO CHANGE IN EVENT
//HENCE IT STAYS TOO LONG AND JUMPS FROM 
// LEFT TO RIGHT WITH OUT GOING STRAIGHT
// MAKE RADIAL CHANGES BASED ON RADIUS
// https://codepen.io/bogeuh/pen/baopRY
//while plain:up
//     check degree
//     0-30 : sharp rightTurn
//     30-60 : soft rightTurn
//     60-120 : forward
//     120-150 : soft left Turn
//     150-180: sharp left Turn
// while plain down: same
//
//NIPPLEJS ANGLE CHECKING
//
// nipple.on('move', function (evt, data) {
//   event.innerHTML = 'move';
//   dir.innerHTML = data.angle.degree;
//   dis.innerHTML = data.distance;
//   det.innerHTML = 'rolling';
//   if (data.angle.degree < 30 && data.angle.degree > 0)
//     det.innerHTML = "fw sharp right";
//   if (data.angle.degree > 30 && data.angle.degree < 60)
//     det.innerHTML = "fw soft right";   
//   if (data.angle.degree > 60 && data.angle.degree < 120)
//     det.innerHTML = "forward";
//   if (data.angle.degree > 120 && data.angle.degree < 150)
//     det.innerHTML = "fw soft left";
//   if (data.angle.degree > 150 && data.angle.degree < 180)
//     det.innerHTML = "fw hard left";
//   if (data.angle.degree > 180 && data.angle.degree < 210)
//     det.innerHTML = "bw hard left";
//   if (data.angle.degree > 210 && data.angle.degree < 240)
//     det.innerHTML = "bw hard left";
//   if (data.angle.degree > 240 && data.angle.degree < 300)
//     det.innerHTML = "backward";
//   if (data.angle.degree > 300 && data.angle.degree < 330)
//     det.innerHTML = "bw soft right";
//   if (data.angle.degree > 330 && data.angle.degree < 360)
//     det.innerHTML = "bw hard right";
// });


    var manager = nipplejs.create({
        zone: document.getElementById('joystick'),
        mode: 'dynamic',
        color: 'blue'
    });

    manager.on('move', function (event, data) {
      if (data.angle.degree < 30 && data.angle.degree > 0)
        
        hardright();
      if (data.angle.degree > 30 && data.angle.degree < 60)
        
        softright();  
      if (data.angle.degree > 60 && data.angle.degree < 120)
        
        forward();
      if (data.angle.degree > 120 && data.angle.degree < 150)
        
        softleft();
      if (data.angle.degree > 150 && data.angle.degree < 180)
        
        hardleft();
      // if (data.angle.degree > 180 && data.angle.degree < 210)
      //   det.innerHTML = "bw hard left";
      // if (data.angle.degree > 210 && data.angle.degree < 240)
      //   det.innerHTML = "bw hard left";
      // if (data.angle.degree > 240 && data.angle.degree < 300)
      //   det.innerHTML = "backward";
      // if (data.angle.degree > 300 && data.angle.degree < 330)
      //   det.innerHTML = "bw soft right";
      // if (data.angle.degree > 330 && data.angle.degree < 360)
      //   det.innerHTML = "bw hard right";
    });    

    manager.on("plain:down", function (event) {
        backward();
    });
    // manager.on("dir:left", function (event) {
    //     left();
    // });
    // manager.on("dir:right", function (event) {
    //     right();
    // });
    manager.on("end", function (event) {
        stop();
    });
</script>

</html>